name: CI - Lint e Testes

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Instalar dependências de desenvolvimento
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]

      - name: Rodar Black
        run: black --check .

      - name: Rodar Flake8
        run: flake8 .

  test:
    name: Testes
    runs-on: ubuntu-latest
    needs: lint  # só roda se o lint passar
    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13.1

      - name: Instalar dependências de teste
        run: |
          python -m pip install --upgrade pip
          pip install -e .[test]

      - name: Rodar pytest
        run: pytest